:root {
    --white: #f9f9f9;
    --black: #36383F;
    --darkgrey: #333;
    --grey: #85888C;
    --darkblue: #11172E;

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Rift, Impact, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, var(--darkblue), var(--darkgrey));
}

header,
main,
footer {
    width: 90vw;
    max-width: 1200px;
}

.body-background {
    position: fixed;
    top: 0;
    left: 20em;
    width: 90%;
    height: 100%;
    z-index: -1;
    background-attachment: fixed;
    background-size: cover;
    filter: opacity(.1);
    opacity: .1;
    transition: opacity 0.1s ease-in-out;
    mask-image: linear-gradient(to top right, transparent 50%, black 50%);
    -webkit-mask-image: linear-gradient(to top right, transparent 50%, black 50%);
}



.body-background.show {
    opacity: .1;
}

.body-background.hide {
    opacity: 0;
}

h1,
h2,
h3,
p {
    color: var(--white);
    z-index: 0;
}


h1 {}

h2 {
    z-index: 0;

}

main {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    padding: 1em;
    margin-bottom: .5em;
    max-width: 1400px;
    min-height: 100vh;
}


header {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 10em;
}

a,
i {
    text-decoration: none;
    color: var(--white);
}

nav a,
#search-btn {
    display: block;
    padding: 10px;

    height: 100%;




}



.container {
    background-color: black;
    margin: 1em;
    padding: .5em 1em;
}

#info-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.child {
    padding: 1em;
    margin: .5em;
    border-radius: 10px;
}

.info-tile p,
.info-tile h3 {
    color: var(--white);
}

.info-tile {
    display: flex;
    flex-direction: column;
    height: 23em;
    width: 20em;
    align-items: center;
    background-color: rgb(30, 30, 30);
}

.info-tile i {
    top: 0;
    color: var(--white);
    background-color: var(--darkblue);
    padding: 1em;
    font-size: 4em;
}

.form-container {
    display: flex;
    flex-direction: column;

}

#user-contact-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#user-contact-info div {
    display: flex;
    flex-direction: column;
}

.form-container label {
    color: var(--white);
}

.form-container input {
    width: auto;
}

.form-child {
    display: flex;
    flex-direction: column;
}



#company-logo {
    position: fixed;
    height: 50em;
    z-index: -3;
    padding: .5em;
    bottom: -25em;
    opacity: .1;
    left: -23em;
    width: auto;
}


#company-name {
    /* margin-left: auto;
    margin-right: auto; */
    position: relative;
    width: 40vw;
    max-width: 29em;
    padding: .5em;
    height: auto;
    top: 0;
    left: 0;

}



#nav-list {
    display: flex;
    position: fixed;
    padding: 0;
    margin: 1em;
    z-index: 2;
    background-color: var(--darkgrey);
    right: 0;
    top: 0;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.219);
}

nav i {
    color: var(--white);
    padding: .1em;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
}

.active {
    background-color: var(--grey);
    color: var(--white);
}

.active:hover a,
.active:hover i {
    color: var(--white);
    background-color: var(--grey);
}

.active a,
.active i {
    color: var(--white);
    background-color: var(--grey);
}

footer a {
    padding: .5em;
    margin: .5em;
}

nav li,
.footer-container li {
    position: relative;
    margin: 0;
    transition: .5s;
    background-color: var(--darkgrey);


}



#payment-section-container button,
.nav-btn {
    background-color: black;
    color: white;
    cursor: pointer;
    font-family: Rift, Impact, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 3px;
    width: auto
}

li a:hover,
.footer-container li a:hover {
    background-color: var(--white);
}

li:hover a,
li:hover i {
    color: var(--darkgrey);
    background-color: var(--white);
}



li.dropdown:hover .dropdown-menu {
    display: block;
    z-index: 3;
}

.dropdown-toggle {
    position: relative;
}

.dropdown-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 100%;
    right: 0;
    width: 200px;
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.create-user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.dropdown-menu form {
    display: flex;
    flex-direction: column;
}

input[type="email"],
input[type="password"],
button[type="submit"],
input[type="text"],
.create-user-btn {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 3px;
    width: auto;
}

.create-user-btn {
    width: 100%;
}

input[type="email"],
input[type="password"] {
    background-color: var(--white);
}

.dropdown-menu button[type="submit"],
.profile-container button[type="submit"] .create-user-btn {
    background-color: black;
    color: white;
    cursor: pointer;
    font-family: Rift, Impact, 'Arial Narrow Bold', sans-serif;
    font-size: large;
}


.dropdown {
    position: relative;
    justify-content: center;
}

.dropdown-toggle:focus+.dropdown-menu {
    display: block;
}

.dropdown-toggle:focus {
    outline: none;
}


.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.cart-item span {
    font-size: 18px;
}

#empty-cart {
    color: black;
}

.remove-game {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.total {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

.legal-text {
    color: var(--grey);
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--darkgrey);
    padding: 1em;

}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
}


.social-media {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.social-media a {
    font-size: 2em;
    padding: 0;
    margin: 0;
}



.legal {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.legal a {
    font-size: small;
    margin-right: 1em;
}

.legal-text {
    color: var(--grey);
    font-size: small;
    margin: 0;
    text-align: center;
}

.main-games {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
}



.search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    /* padding: 0 1em; */
    /* height: 100%; */
    transition: .5s;
}

#search-form {
    display: flex;
    flex-direction: row;
    margin-bottom: -10px;
    /* height: 100%;
    width: 100%; */
}

#search-input {
    display: none;
    font-size: 1rem;

    border: none;
    color: var(--white);
    background-color: transparent;
    width: 0;
    transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

#search-input:not(:empty),
#search-input:focus,
.search-container:hover #search-input {
    display: block;
    width: 100%;
}

#search-btn,
nav a {
    border: none;
    color: var(--white);
    font-size: 16px;

    cursor: pointer;
    background-color: var(--darkgrey);
    padding: 1em;
    border-radius: 0;

}

#search-btn:hover,
#search-btn:hover i {
    color: var(--black);
    background-color: var(--white);
}


#search-results-container {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 70%;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    transition: .5s;

}

@media screen and (max-width: 600px) {
    #nav-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: fixed;
        padding: 0;
        width: 100vw;
        margin: 0;
        left: 0;
        overflow: hidden;
    }

    #nav-list li {
        flex-basis: 33.33%;
        text-align: center;
    }

    .search-container {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        position: relative;
        padding: 0;
        margin: 0;
        height: 100%;
    }

    #search-btn {}

    #search-input {
        position: absolute;
        top: 0;
        opacity: 0;
        border: none;
        background-color: var(--darkgrey);
        left: 3.4em;
        height: 0;
        transition: .5s;
        z-index: 3;
    }

    #search-input:not(:empty),
    #search-input:focus,
    .search-container:hover #search-input {
        width: 75vw;
        height: 2.8em;
        padding: .2em;
        padding-left: 1em;
        opacity: 1;


    }



    #company-name {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        width: auto;
        height: 4em;
        top: 2em;
    }

    .nav-text {
        display: none;
    }

}



.game-container {
    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
    align-items: center;
    position: relative;
    width: 300px;
    height: 400px;
    margin: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease-in-out;
}


.game-container:hover .game-details {
    top: 65%;
    height: 20%;
}



.game-container:hover .game-cover {
    height: 70%;
}


.game-title {
    margin: 10px 0;
    font-size: 18px;
    color: var(--black);
    bottom: 100px;
}

#view-more {
    position: absolute;
    top: 1.2em;

}

.game-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 70%;
    width: 100%;
    height: 10%;
    background-color: var(--white);
    transition: all 0.3s ease-in-out;
}

.game-details p {
    color: black;
}

.game-cover {
    width: 100%;
    height: 95%;
    object-fit: cover;
    cursor: pointer;
    transition: .5s;
}

.game-cover:hover .game-cover {
    height: 100%;
}

.game-description {
    visibility: hidden;
    position: absolute;
    bottom: 40%;
    left: 0;
    right: 0;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}



.game-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    background-color: var(--black);
    transition: all 0.3s ease-in-out;
}

.game-buy {
    background-color: black;
    color: white;
    cursor: pointer;
    font-family: Rift, Impact, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 3px;
    width: auto
}

.game-buy:hover {
    background-color: blue;
}

.game-added {
    background-color: green;
    color: white;
}

.cart-item {
    display: flex;
    flex-wrap: nowrap;
    margin-right: 10px;
    font-size: 16px;
    background-color: transparent;
    width: fit-content;


}

.cart-text {}

.cart-notification {
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    white-space: nowrap;
}

.remove-game {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #333;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

.remove-game:hover {
    color: red;
}

#display-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    transition: .5s;
    width: fit-content;
    width: 80vw;
}

.list-title {
    font-size: 2rem;

}


.index-display {
    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
    background-color: black;
    padding: 1em 1em;
    margin: 1em 1em;
    width: fit-content;
}

.index-list {
    display: flex;
    scroll-snap-type: x mandatory;
    flex-direction: row;
    overflow-x: scroll;
    width: 80vw;
    max-width: 800px;
}

.index-list .game-container {
    width: 80vw;
    max-width: 800px;
}

.index-list .game-price {
    flex-direction: row;
    justify-content: space-around;
}

.game-price button {
    margin: 1em;
}

/* #featured-games {
    width: 80vw;
    max-width: 1000px;
} */


.game-price {
    display: flex;
    justify-content: center;
    font-size: 1.7rem;
    color: var(--white);
    left: 0;
}

.game-numbers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 25px;
    max-width: 130px;
    width: 50%;
    margin-left: -20px;
}

.game-price-regular {
    font-size: 1.2rem;
    color: var(--white);
    text-decoration: line-through;
    left: 0;
}

.game-price-discounted {
    font-size: 1.7rem;
    color: red;
    left: 0;
}

.game-price-discount {
    color: var(--white);
    background-color: red;
    position: absolute;
    margin: .5em;
    padding: 2px 5px;
    top: 0;
    left: 0;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.294);
}

#sale-games {}

.profile-container {
    background-color: black;
}

#main-cart {
    background-color: black;
    margin: .5em;
}

#payment-section-container {
    display: flex;
    flex-direction: row;
    justify-content: right;
    background-color: var(--white);
    padding: 1em;
    align-items: ;
}

#payment-section-container button {
    display: block;
}

.total {
    display: block;
}

#cart-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


#payment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    height: 70%;
    width: 70%;
    top: 8em;
    border-radius: 5px;

    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.8);
    /* frosted glass effect */
    transition: opacity 0.5s, visibility 0.5s;
    padding: 2em;
}

#payment-container.show {
    opacity: 1;
    visibility: visible;
}

#payment-form {
    display: flex;
    flex-direction: column;
    background-color: #36383f;
    color: var(--white);
    padding: 1em;
    height: 80%;
    width: 80%;
}



#close-payment-btn {
    position: absolute;
    right: 15%;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 0;
}

#close-payment-btn:hover {
    color: #ccc;
}

#payment-form label {
    font-size: 1.2rem;
    color: #fff;
    margin-top: 1rem;
}

#payment-form input {
    font-size: 1.2rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: none;
    background-color: #f1f1f1;
    color: #333;
}

#payment-form input:focus {
    outline: none;
    box-shadow: 0 0 3px #ccc;
}

#pay-btn {
    background-color: #0275d8;
    color: #fff;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#pay-btn:hover {
    background-color: #025aa5;
}

.main-profile {
    padding: 2rem;
    text-align: center;
}

.main-profile h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.profile-container {
    background-color: black;
    border-radius: 5px;
    padding: 1.5rem;
    margin-bottom: 2rem;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.profile-container h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.profile-child {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.profile-child h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.profile-child p {
    font-size: 1.2rem;
    margin: 0;
}

#profile-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile-form label {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#profile-form input {
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    background-color: #f1f1f1;
    color: #333;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 30rem;
}

#profile-form button[type="submit"] {
    background-color: black;
    color: #fff;
    font-family: Rift, Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border: var(--white);
    border-style: outset;
    cursor: pointer;
    width: 100%;
    max-width: 20rem;

}

#profile-form button[type="submit"]:hover {
    background-color: #025aa5;
}