/* Theming */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root{
    --white: #f9f9f9;
    --black: #36383F;
    --grey: #85888C;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo_dt{
    display: none;
 }

.logo_mb{
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    padding-bottom: 1%;
    width: 390px;
    
}

.body_index{
    margin: 0px;
    background-color: #11172E ;
    min-height: 100vh;
    display: grid;
    grid-gap: 1em;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    'header header'
    'main'
    'footer'
    ;
    background-color: lightblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a{
    text-decoration: none;
}

b{
    color: #f9f9f9;
}

ul{
    list-style: none;
}

.header{
    max-height: 2700px;
    background-color: var(--black);
    box-shadow: 1px 1px 5px 0px var(--gray);
    top: 0;
    width: 100%;
}

main{
    min-height: 20vh;
    margin: 5%;
    background-color: aqua;
}

footer{
    max-height: 200px;
    display:flex;
    justify-content:space-evenly;
    background-color: #333;
    box-shadow: 0 1px 8px #ddd;
    width: 100%;
}

/* Mobile footer navbar */
.footer_mb{
    background-color: #333;
    width: 100%;
}

.footer_mb li{
    display: inline-flex;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: -19px;
}

.footer_mb b{
    color: #f2f2f2;
    padding: 20px;
    text-decoration: none;
    font-size: 25px;
    cursor: pointer;
    background-color: transparent;
}

.footer_mb_content{
    display: flex;
    position: aboslute;
    margin-left: 90px;
    margin-right: 10px;
    margin-top:-1px
}
.footer_mb b:hover{
    background-color: #ddd;
    color: black;
}
.icon_games{
    width: 50px;
}

/* Desktop footer navbar */
.footer_dt{
    display: none;
}
.nav.dt{
    display: none;
}


/* Nav menu */
.nav{
    width: 100%;
    height: 100%;
    background-color: orange;
    overflow: hidden;
    position: absolute;
    top:117px;
}
.active{    
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.218);
    color:#11172E
} 
.menu_dt{
    display:none;
}
.menu a{
    display: block;
    padding: 30px;
    color: var(--white);
}
.menu a:hover{
    background-color: var(--grey);
}
.nav{
    max-height: 0%;
    transition: max-height .5s ease-out;
}
/* .menu_show{
    display: none;
} */

/* Menu Icon */
.hamb{
    position: absolute;
    display: block;
    cursor: pointer;
    padding: 20px 6%;
    margin-left: 25px;
}
.hamb-line {
    background: var(--white);
    display: block;
    height: 2.5px;
    position: relative;
    width: 30px;
}
.hamb-line::before,
.hamb-line::after{
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 6px;
}
.hamb-line::after{
    top: -6px;
}
.side-menu {
    display: none;
}

/* Toggle menu icon */

/* Toggle menu position */

.side-menu:checked ~ .nav{
    max-height: 76%;

}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}
/* Desktop */

@media (min-width: 768px) {
    .header{
        max-height: 77px;
        background-color: transparent;
        box-shadow: 1px 1px 5px 0px var(--grey);
        position: sticky;
    }

    .nav_dt{
        display: block;
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: blueviolet;
    }

    .menu_dt{
        display: block;
        background-color: green;
    }
    .menu_dt li{
        float: left;
        padding: 30px;
        color: var(--white)
    }
    .menu a:hover{
        background-color: transparent;
        color: var(--grey);       
    }
    .menu_dt a:hover{
        background-color: transparent;
        color: var(--grey);  
    }
    
    .hamb{
        display: none;
    }


    .logo_mb{
        display: none;
    }   
    .logo_dt{
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 25px;
      width: 200px;
    }

    .body_index{
        background-image: url("/assets/img_bg.png");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: 0px 800px;
   }

   .footer_mb{
    display: none;
   }

   .footer_mb_content li{
    display: none;
   }

   .footer_dt{
    background-color: #0057c9;
    display: contents;
    min-height: 3vh;
    box-shadow: 1px 1px 5px 0px var(--grey);
    text-align: center;
    }

    /* Bottom Navigation */
    nav b {  
        font-family: Verdana, sans-serif;
        color: #fff;
    }

    .nav_about_contact li{
        display: inline-block;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 0.7em;
        text-decoration: none;
        padding-left: 2%;
        cursor: pointer;
    }
    .nav_about_contact{
        margin-bottom: -0.3%;
        padding-top: 0.2%;
    }

    nav b:hover {
        color:lightskyblue;
        text-decoration: underline;
        display: block;
        background-color: #36383f5f;
        
    }

    .extra_nav{
        margin-bottom: -1%;
        font-size:0.6em;
    }
    .extra_nav li{
        display: inline-block;
        padding-top: 0.4%;
        padding-left: 1%;
        cursor: pointer;
    }

    .legal_text{
        text-align: center;
        font-family: sans-serif;
        font-size: 0.7em;
        color: rgb(136, 136, 136);
        margin-left: auto;
        margin-right: auto;
        margin-top: 1.1%;
        margin-bottom: 0.2%;
    }

}